/* 
 * Nav bar
 */

.main-nav {
  text-align: center;
  margin-bottom: 45px;
}

/*
 * Main search form
 */

.form-wrap {
  margin: 0 auto;
  width: 74%;
}

.help-text {
  color: map-get($foundation-palette, secondary);
}

span.required {
  color: red;
}

.search.button {
  float: right;
  margin-top: 10px;
}

.form-error {
  color: red;
  display: none;
}